<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Gestore</h1>
    <ul>
        <li><a href="/gestoreDir/personale">Personale</a></li>
        <li><a href="/gestoreDir/ordinabili">Ordinabili</a></li>
        <li><a href="/gestoreDir/gestione_menu">Menù</a></li>
        <li><a href="/gestoreDir/contabilita">Contabilità</a></li>
        <li><a href="/gestoreDir/gestione_prodotti">Prodotti</a></li>
        <li><a href="/gestoreDir/gestione_tavoli">Tavoli</a></li>
        <li><a href="/gestoreDir/gestione_necessita">Necessità</a></li>
    </ul>
</body>
</html>